
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <base href="https://acs2.sbrf.ru:443/sberbank/MA/">

  <script language="JavaScript">
    var strBeforeUnload = "Вы уверены что хотите уйти с этой страницы? Ваша транзакция не завершена.";
  </script>
  <script language="JavaScript" src="/sberbank/common/global.js"></script>
  <link href="assets/style.css" rel="STYLESHEET" type="text/css">
  <link href="assets/ma_style.css" rel="STYLESHEET" type="text/css">


  <title>MasterCard® SecureCode™ - Пароль безопасности</title>
  <script type="text/javascript">
    strBeforeUnload = "Ваша транзакция не завершена! Для продолжения, нажмите кнопку 'Отмена' и введите пароль на странице проверки безопасности.";
    <!-- page for OTP_SMS -->
    var PAMs = new Array();
    PAMs[0] = new Array("0","None");

    function OnExit() {
      if (confirm("Вы уверены что хотите выйти? Ваша транзакция не завершена. Для продолжения, нажмите кнопку 'Отмена' и введите пароль на странице проверки безопасности.")) {
        isCheckUnload = false;
        document.frm.formaction.value = "pa.exit";
        document.frm.submit();
      } else document.frm.PASSWORD.focus();

      return false;
    }

    function OnSubmit(f, doSubmit) {
      if (f.PASSWORD.value === '') {
        alert("Пожалуйста, введите пароль");
        f.PASSWORD.focus();
        return false;
      }
      if (doSubmit) document.frm.submit();
      return true;
    }

    function ShowPage(name) {
      isCheckUnload = false;
      document.frm.formaction.value = name;
      document.frm.submit();
    }

    function removeElement(id) {
      if (typeof id === "object") return id.parentNode.removeChild(id);
      else return (elem = document.getElementById(id)).parentNode.removeChild(elem);
    }

    function resendSMS() {
      if (confirm("Послать другой одноразовый пароль по SMS ?")) {
        isCheckUnload = false;
        removeElement(document.getElementById("psw_id"));
        document.frm.formaction.value = "pa.service";
        document.frm.submit();
      }
    }
  </script>

</head>

<body>
<div class="modal-page">
  <div class="header">
    <div>
      <img src="assets/sberbank/images/MyBank.png">
    </div>
  </div>

  <form method="POST" onsubmit="return OnSubmit(this, false);" name="frm" accept-charset="utf-8">
    <h1>Введите Ваш пароль</h1>


    <div class="list" id="descList" style="display: block;">
      <div class="list-item" id="pa_merchant">
        <div class="labelSber">Магазин:</div>
        <div class="value">Tinkoff Bank</div>
      </div>
      <div class="list-item" id="pa_desc">
        <div class="labelSber">Описание:</div>
        <div class="value">На добрые дела</div>
      </div>
      <div class="list-item" id="pa_amount">
        <div class="labelSber">Сумма:</div>
        <div class="value"><b>10.00 RUB</b></div>
      </div>
      <div class="list-item" id="pa_date">
        <div class="labelSber">Дата:</div>
        <div class="value">11/24/2017</div>
      </div>
      <div class="list-item" id="pa_pan">
        <div class="labelSber">Номер карты:</div>
        <div class="value"> **** **** **** 2101</div>
      </div>
      <div class="list-item" id="pamrow">
        <div class="labelSber">Личное приветствие:</div>
        <div class="value">Hello
        </div>
      </div>

      <!-- div class="list-item" id="pa_transactionId">
          <div class="label">Уникальный ID транзакции:</div>
          <div class="value">WhgIVIm2gSQFEGHdKDmB8w</div>
      </div -->
      </div>


    <div id="desc" class="desc"><p>Одноразовый пароль был направлен на Ваш номер телефона. Пожалуйста, проверьте реквизиты транзакции и введите пароль из SMS.</p></div>

    <div class="list">

      <input class="big-input" id="psw_id" type="password" placeholder="Одноразовый SMS пароль" name="PASSWORD" size="20" maxlength="20" autocomplete="off">
      <p class="desc">
        <input type="hidden" name="PSW_RENEW" value="Y">
        <input type="hidden" name="TRIES" value="Y">
        <a class="small" href="javascript:void(0);" onclick="javascript:resendSMS(); return false;">Не получили одноразовый пароль по SMS?</a>
      </p>

      <div class="footer">
        <div class="row">
          <div>
            <input class="big-button" type="button" id="btnSubmit" name="btSubmit" value="Отправить" onclick="return OnSubmit(document.frm, true);">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="left"><a href="javascript:void(0);" onclick="OnExit(); return false;">Выход</a></div>
          <div class="right"><a href="javascript:void(0);" onclick="ShowPage('pa.help');"><img src="assets/sberbank/images/help.gif" class="help_icon" alt="Help" align="absbottom">Помощь</a></div>
        </div>
      </div>
    </div>

    <input type="hidden" name="formaction" value="pa.submit">
  </form>
</div>



</body></html>
